/* css del container de fondos */
.container_fonds_aplication{
    position: absolute;
    left: 0.9375rem;  
    bottom: 0.9375rem;
  
    display: flex;
  
    z-index: 1;
    background-color: white;
    padding: 0.4375rem;
    border-radius: var(--border-radius-1);
  }
  .fond_item{
    width: 1.6875rem;
    height: 1.6875rem;
    background-color: red;
    display: block;
    margin-right: 0.3125rem;
    cursor: pointer;
    border-radius: 0.3125rem;
  }
  .fond_item:nth-child(1){
    background-color: #0040c1;
  }
  .fond_item:nth-child(2){
    background-color: #15141a;
  }
  .fond_item:nth-child(3){
    background-image: url(../ThemeAplication/imagesTexturas/denim-daisies.gif);
  }
  .fond_item:nth-child(4){
    background-image: url(../ThemeAplication/imagesTexturas/the-night.png);
  }
  .fond_item:nth-child(5){
    background-image: url(../ThemeAplication/imagesTexturas/rampage.gif);
  }
  .fond_item:nth-child(6){
    background-image: url(../ThemeAplication/imagesTexturas/dinos.png);
  }
  .fond_item:last-child{
    margin-right: 0;
  }