@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root {
  --color-1: #f7f7ff;
  --color-2: #ef476ecc;
  --color-3: #ffca3ac0;
  --color-4: #8ac926c0;
  --color-5: white;
  --border-radius-1: 10px;

  --color-background-1: #ff4d6eb9;
  --color-background-2: #ff580aeb;
  --color-background-3: #9fa1ff41;
  --color-background-4: #0018453f;
  --color-background-5: #70e000be;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}
.container_aplication {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-1);

  display: flex;
  justify-content: center;
  align-items: center;
  
  position: relative;
}
.container_principal {
  width: 70%;
  max-width: 1200px;
  height: 520px;
  min-height: 500px;
  background-color: var(--color-background-3);
  border-radius: var(--border-radius-1);
  padding: 20px;
  backdrop-filter: blur(5px);

  display: flex;
}

/* CONTAINER DE TAREAS */
.container_tasks {
  width: 65%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
/* CSS DEL TITLE DE LAS TAREAS */
.container_title_tasks {
  color: var(--color-5);
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.text_title{
  margin-bottom: 10px;
}
.container_task_items{
  flex-grow: 1;
  overflow-y: scroll;
  background-color: var(--color-background-4);
  padding: 7px;
  border-radius: var(--border-radius-1);
  border-top-right-radius: 0;
}
.container_task_items::-webkit-scrollbar {
  -webkit-appearance: none;
}

.container_task_items::-webkit-scrollbar:vertical {
  width: 4px;
}
.container_task_items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.484);
  border-radius: 10px;
}

/* CONTAINER DE INSERTAR NUEVAS TAREAS */

.container_form_tasks {
  height: 100%;
  flex-grow: 1;
  margin-left: 7px;
}

/* css del container de versiones */
.container_text_version{
  position: absolute;
  right: 15px;  
  bottom: 15px;
  color: var(--color-1);
}

/* css de los container de stado de las tareas */
.container_state_tasks{
  display: flex;
}
.container_state_slope{
  background-color: var(--color-background-2);
  margin-left: 5px;
}
.container_state_filled{
  background-color: var(--color-background-5);
}
.container_state_slope, .container_state_filled{
  font-size: 0.875rem;
  padding: 10px;
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
} 