.task_form {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container_title_form {
  flex-grow: 0;
  text-align: center;
  color: var(--color-5);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.textArea_task {
  width: 100%;
  flex-grow: 1;
  font-family: 'Varela Round', sans-serif;
  outline: none;
  border: none;
  resize: none;
  font-size: 1.1em;
  border-radius: var(--border-radius-1);
  padding: 0.9375rem;
  background-color: var(--color-background-4);

  color: #edede9;
  overflow-y: scroll;
}
.textArea_task::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textArea_task::-webkit-scrollbar:vertical {
  width: 4px;
}
.textArea_task::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.484);
  border-radius: 10px;
}
.textArea_task::placeholder {
  color: #edede95c;
}
.container_buttons_task_form{
  margin-top: 0.3125rem;
  height: 3.125rem;
  display: flex;
}
.task_button {
  flex-grow: 1;
  padding: 0.625rem;
  border-radius: var(--border-radius-1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1em;
  font-family: 'Varela Round', sans-serif;
  background: #ffb803cb;
  
  color: var(--color-5);
  
  transition: .1s ease-in;
  transition: background .2s ease;
}
.task_button:hover{
  background: #ffb803ec;
}
.task_button:active{
  transform: scale(.95, .95);
}
/* css de boton de emojis */
.container_icon_button{
  margin-left: 5px;
  padding: 0 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0018453f;
  border-radius: var(--border-radius-1);
}
.icon_item_button{
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5625rem;
  transition: .3s ease;
  user-select: none;
}
.icon_item_button:hover{
  background-color: #edede922;
}