.task_form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container_title_form {
  flex-grow: 0;
  text-align: center;
  margin-bottom: 15px;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.textArea_task {
  font-family: 'Varela Round', sans-serif;
  flex-grow: 5;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-size: 1.1em;
  border-radius: var(--border-radius-1);
  padding: 10px;
  background: #0018453f;

  color: #edede9;
  overflow-y: scroll;
}
.textArea_task::-webkit-scrollbar {
  -webkit-appearance: none;
}

.textArea_task::-webkit-scrollbar:vertical {
  width: 4px;
}
.textArea_task::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.484);
  border-radius: 10px;
}
.textArea_task::placeholder {
  color: #edede95c;
}
.task_button {
  font-family: 'Varela Round', sans-serif;
  flex-grow: 0;
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  border-radius: var(--border-radius-1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1em;
  background: var(--color-background-1);
  color: white;
  transition: .1s ease-in;
  transition: background .2s ease;
}
.task_button:hover{
  background: var(--color-background-2);
}
.task_button:active{
  transform: scale(.95, .95);
}
